<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/resultados.css">

    <!-- Title -->
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Resultados | Previdência Aqui</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>

<body>

    <div class="cabeca">
        <h1>Resultados</h1>
        <div class="clique">
            <div class="botao">
                <button type="submit"><a href="/simule" target="_blank">Voltar</a></button>
            </div>

            <div class="botao">
                <button type="submit"><a href="/" target="_blank">Início</a></button>
            </div>
        </div>
    </div>
    <main>
        <div class="bloco">

            <div class="container">

                <div class="titulo">
                    <h2><b>Dados Pessoais</b></h2>
                </div>
                <div class="barra">
                    <div>
                        <p><i>Gênero:</i> <span>
                                <%= simulacaoData.genero==="m" ? "Masculino" : "Feminino" %>
                            </span>
                        </p>
                    </div>

                    <div>
                        <p><i>Idade Atual:</i> <span>
                                <%= simulacaoData.idade %> anos
                            </span>
                        </p>
                    </div>

                    <div>
                        <p><i>Tempo de Contribuição:</i> <span>
                                <%= simulacaoData.tempoContribuicaoMes %> meses
                            </span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="titulo">

                    <h2><b>Resultados</b></h2>
                </div>
                <div class="barra">
                    <div>
                        <p><i>Idade da Aposentadoria:</i> <span>
                                <%= simulacaoData.idadeAposentadoria %> %> anos
                            </span></p>

                    </div>

                    <div>
                        <p><i>Mês e ano da Aposentadoria:</i> <span>
                                <%= simulacaoData.mesAposentadoria %> / <%= simulacaoData.anoAposentadoria %>
                            </span>
                        </p>

                    </div>

                    <div>
                        <p><i>Quanto tempo falta para contribuir:</i> <br><span>
                                <%= simulacaoData.tempoContribuicaoPendente%> meses
                            </span>
                        </p>

                    </div>

                    <div>
                        <p><i>O valor mínimo do meu beneficio será:</i> <span id="valorBeneficio">R$ <%= (parseFloat(simulacaoData.valorBeneficio).toLocaleString('pt-BR', { maximumFractionDigits: 2 })) %></span></p>
                    </div>
                </div>



            </div>

            <div class="botao">
                <button type="submit" class="envio"><a href="/simule" target="_blank">Nova Consulta</a></button>
            </div>
            <div class="imagem">
                <img src="img/senhor.png" alt="" width="200px">
            </div>
        </div>
    </main>
</body>

</html>