<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>

    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/resultados.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
  <!-- <h1>Resultados</h1>
    <div class="bloco">

        <div class="dados">
            <div class="titulo">
                <img src="img/informacao-pessoal.png" alt="flaticon" width="60px">
                <h2>Confira seus Dados Pessoais</h2>
            </div>
            <table>
                <tr>
                    <th>Gênero</th>
                    <td><%= genero %></td>
                </tr>
                <tr>
                    <th>Idade</th>
                    <td><%= idade %></td>
                </tr>
                <tr>
                    <th>Tempo de Contribuição</th>
                    <td>
                        <% tempo_contribuicao_mes.forEach((tempo, index) => { %>
                            <%= tempo %>
                            <% if (index !== tempo_contribuicao_mes.length - 1) { %>
                                <br>
                            <% } %>
                        <% }) %>
                    </td>
                </tr>
            </table>
        </div>

        <div class="resultados">
            <div class="titulo">
                <img src="img/fluxo-de-dinheiro.png" alt="flaticon" width="70px">
                <h2>Confira seus Resultados</h2>
            </div>
            <table>
                <tr>
                    <th>Com que idade poderei me aposentar?</th>
                    <td><%= idadeAposentadoria %></td>
                </tr>
                <tr>
                    <th>Em qual mês e ano poderei me aposentar?</th>
                    <td><%= mesAposentadoria %></td>
                </tr>
                <tr>
                    <th>Quanto tempo ainda devo contribuir?</th>
                    <td><%= tempoContribuicaoFaltante %></td>
                </tr>
                <tr>
                    <th>Qual será o valor do meu benefício?</th>
                    <td><%= valorBeneficio %></td>
                </tr>
            </table>
        </div> --> 

        <h1>Resultados</h1>
        <div class="bloco">
            <div class="dados">
                <div class="titulo">
                    <img src="img/informacao-pessoal.png" alt="flaticon" width="60px">
                    <h2>Confira seus Dados Pessoais</h2>
                </div>
                <table>
                    <tr>
                        <th>Gênero</th>
                        <td><%= genero %></td>
                    </tr>
                    <tr>
                        <th>Idade</th>
                        <td><%= idade %></td>
                    </tr>
                    <tr>
                        <th>Tempo de Contribuição</th>
                        <td>
                            <% tempo_contribuicao_mes.forEach((tempo, index) => { %>
                                <%= tempo %>
                                <% if (index !== tempo_contribuicao_mes.length - 1) { %>
                                    <br>
                                <% } %>
                            <% }) %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="resultados">
                <div class="titulo">
                    <img src="img/fluxo-de-dinheiro.png" alt="flaticon" width="70px">
                    <h2>Confira seus Resultados</h2>
                </div>
                <table>
                    <tr>
                        <th>Com que idade poderei me aposentar?</th>
                        <td><%= idadeAposentadoria %></td>
                    </tr>
                    <tr>
                        <th>Em qual mês e ano poderei me aposentar?</th>
                        <td><%= mesAposentadoria %> / <%= anoAposentadoria %></td>
                    </tr>
                    <tr>
                        <th>Quanto tempo ainda devo contribuir?</th>
                        <td><%= tempo_contribuicao_pendente_mes %></td>
                    </tr>
                    <tr>
                        <th>Qual será o valor do meu benefício?</th>
                        <td><%= valor_beneficio %></td>
                    </tr>
                </table>
            </div>
        </div>
      
        <div class="clique">
            <div class="botao">
                <button type="submit"><a href="simule.html">Nova consulta</a></button>
            </div>
            <div class="botao">
                <button type="submit"><a href="index.html">Página inicial</a></button>
            </div>
        </div>

    </div>
</body>

</html>
