<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>

    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/resultados.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
 
        <h1>Resultados</h1>
        <div class="bloco">
            <div class="dados">
                <div class="titulo">
                    <img src="img/informacao-pessoal.png" alt="flaticon" width="60px">
                    <h2>Confira seus Dados Pessoais</h2>
                </div>
               
                <div>
                    <p>Gênero: <%= simulacaoData.genero === "m" ? "Masculino" : "Feminino" %></p>
                </div>

                <div>
                    <p>Idade da Aposentadoria: <%= simulacaoData.idade %></p>
                </div>

                <div>
                    <p>Tempo de Contribuição: <%= simulacaoData.tempo_contribuicao_mes %></p>
                </div>

            </div>
            <div class="resultados">
                <div class="titulo">
                    <img src="img/fluxo-de-dinheiro.png" alt="flaticon" width="70px">
                    <h2>Confira seus Resultados</h2>

                    <div>
                        <p>Idade da Aposentadoria: <%= simulacaoData.idadeAposentadoria %> %></p>
                     
                    </div>

                    <div>
                        <p>Mês e ano da Aposentadoria: <%= simulacaoData.mesAposentadoria %> / <%= simulacaoData.anoAposentadoria %></p>
                     
                    </div>

                    <div>
                        <p>Quanto tempo falta para contribuir: <%= simulacaoData.tempo_contribuicao_pendente_mes%></p>
                     
                    </div>

                </div>
               
            </div>
        </div>
      
        <div class="clique">
            <div class="botao">
                <button type="submit"><a href="simule.html">Nova consulta</a></button>
            </div>
            <div class="botao">
                <button type="submit"><a href="index.html">Página inicial</a></button>
            </div>
        </div>

    </div>
</body>

</html>
